<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>Wallet Secret</key>
	<string>$(WALLET_SECRET)</string>
	<key>Internal Token</key>
	<string>$(INTERNAL_TOKEN)</string>
	<key>Infura Key</key>
	<string>$(INFURA_KEY)</string>
</dict>
</plist>
